@import "../../styles/assets";
@import "../../styles/media";


.pagination {
  @media (max-width: $max-width2) { @include flex(flext, center, null, column) }

  @include flex(flex, center, center, null);
  $customBorder: .5px solid grey;
  margin-top: 30px;
  font-size: 20px;
  img{ @include scale(22px, 22px) }
  & span:nth-child(1n){ margin: 0 20px }

  &__pageSwitcher {
    @include flex(flex, center, null, null);
    border: $customBorder;
    border-radius: 5px;
    height: 40px;

    & div:nth-child(1n){
      @include flex(flex, center, center, null);
      height: 100%;
      &:not(:nth-child(3)){ width: 35px }
    }

    .pagination__first { border-right: $customBorder }
    .pagination__prev {
      border-left: $customBorder;
      transform: scale(-1);
      img{ @include scale(17px, 17px) }
    }
    .pagination__page {
      width: 100px;
      color: dodgerblue;
      border-right: $customBorder;
    }
    .pagination__next {
      border-right: $customBorder;
      img{ @include scale(17px, 17px) }
    }
    .pagination__last { transform: scale(-1) }
  }

  &__elemCountDrop {
    @include flex(flex, center, null, column);
    position: relative;
    cursor: pointer;

    .pagination__dropControl {
      @include flex(flex, center, space-between, null);
      @include scale(55px, 40px);
      border: $customBorder;
      border-radius: 5px;
      padding: 0 5px;

      span {
        margin: 0;
        color: dodgerblue;
      }
      img {
        @include scale(17px, 17px);
        margin-top: 3px;
      }
    }

    .pagination__dropItems {
      position: absolute;
      top: 100%;
      width: 100%;
      border-radius: 5px;
      border: $customBorder;

      div {
        padding: 5px;
        cursor: pointer;
        &:hover{ background: #bad7f3 }
      }
    }
  }
}
