@import "../../styles/assets";
@import "../../styles/media";


.newEl{
  transition: background .2s ease-in, box-shadow .2s ease-in;
  display: inline-block;
  border-radius: 10px;
  background: #2134cd;
  margin-bottom: 15px;
  padding: 5px 10px;
  font-weight: bold;
  cursor: pointer;
  color: white;

  &:hover{
    background: #a03528;
    box-shadow: 3px 4px 7px #000;
  }
}

.table{
  @include tableMedia;
  width: 100%;
  text-align: left;
  border-collapse: collapse;
  tr{ border-bottom: .5px solid gray }

  thead{
    tr{
      th{
        padding: 0 100px 10px 5px;
        color: gray;
        &:nth-child(4){
          text-align: center;
          padding-right: 5px;
        }
      }
    }
  }

  tbody {
    tr {
      cursor: pointer;
      td {
        margin: 20px 5px;
        &:nth-child(4) { @include flex(flex, null, center, null) }
        span {
          @extend %hiddenText;
          &:nth-child(2) { color: gray }
        }
        div {
          border-radius: 5px;
          font-weight: bold;
          padding: 5px 10px;
          color: white;
        }
      }
    }
  }
}